<%= simple_nested_form_for @provider, defaults: { input_html: { class: 'span6' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <div class='span6'>
        <%= f.input :firm_name %>
        <%= f.input :name %>
        <%= f.input :ident %>
        <%= f.input :address %>
        <%= f.input :phone %>
        <%= f.input :email %>
        <%= iva_kinds_select_for_client(f) %>
      </div>

      <div class='span6'>
        <%= render partial: 'job_areas', locals: { f: f } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
