<%= simple_form_for(@movement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code_id %>
    <%= f.input :charged_at %>
    <%= f.input :mov_number %>
    <%= f.input :bank_id %>
    <%= f.input :amount %>
    <%= f.input :total_amount %>
    <%= f.input :client_id %>
    <%= f.input :comment %>
    <%= f.input :devoted %>
    <%= f.input :deposited_in %>
    <%= f.input :devoted_at %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
