<%= simple_form_for(@movement) do |f| %>
  <%= f.error_notification %>

  <% if @movement.errors.present? %>
    <% change_movement_autocomplete_field_errors(@movement) %>
  <% end %>

  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span3">
        <%= f.input :code_id %>
      </div>
      <div class="span3">
        <%= f.input :mov_number %>
      </div>
      <div class="span3">
        <%= f.input :amount %>
      </div>
      <div class="span3">
        <%= f.input :total_amount %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <%= f.input :devoted, input_html: { class: 'span9' } %>
      </div>
      <div class="span4">
        <%= f.input :charged_at, as: :date_picker, 
          input_html: { class: 'span9' } %>
      </div>
      <div class="span4">
        <%= f.input :devoted_at, as: :date_picker, 
          input_html: { class: 'span9' } %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <%= f.input :deposited_in, input_html: { class: 'span9' } %>
      </div>
      <div class="span4">
        <%= f.input :client_id, input_html: { class: 'span9' } %>
      </div>
      <div class="span4">
        <%= f.label :bank_id %>
        <%= f.input :auto_bank_name, label: false, input_html: {
          value: @movement.bank, class: 'span9 autocomplete-field',
          data: {
            'autocomplete-id-target' => '#movement_bank_id',
            'autocomplete-url' => autocomplete_for_bank_name_movements_path(format: :json)
          }
        }  %>
        <%= f.input :bank_id, as: :hidden, 
          input_html: { class: 'autocomplete-id' } %>
      </div>
    </div>
    <div class="row-fluid">
      <%= f.input :comment, input_html: { class: 'span12', rows: 5 } %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
