<div class="readonly-data">
  <h2><%= t('view.movements.show', movement: @movement) %></h2>

  <p>
    <strong><%= Movement.human_attribute_name 'code_id' %></strong>:
    <%= link_to @movement.code, @movement.code %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'charged_at' %></strong>:
    <%= l @movement.charged_at, format: :long %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'mov_number' %></strong>:
    <%= @movement.mov_number %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'bank_id' %></strong>:
    <%= link_to @movement.bank, @movement.bank %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @movement.amount %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'total_amount' %></strong>:
    <%= number_to_currency @movement.total_amount %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'client_id' %></strong>:
    <%= link_to @movement.client, @movement.client %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'comment' %></strong>:
    <%= simple_format @movement.comment %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'devoted' %></strong>:
    <%= @movement.devoted %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'deposited_in' %></strong>:
    <%= @movement.deposited_in %>
  </p>
  <p>
    <strong><%= Movement.human_attribute_name 'devoted_at' %></strong>:
    <%= l @movement.devoted_at, format: :long %>
  </p>

</div>
<div class="form-actions f-actions-bottom">
  <%= link_to t('label.edit'),
    edit_movement_path(@movement) if can? :update, @movement %> |
  <%= link_to t('label.delete'), @movement if can? :destroy, @movement %>
  <div class="pull-right"><%= link_to t('label.list'), movements_path %></div>
</div>
