<div class='row-fluid'>
  <div class='span12'>
    <div class='span3'>
      <%= b.input :number, label: false, input_html: { class: 'span12' } %>
    </div>
    <div class='span2'>
      <%= b.input :office_number, label: false, input_html: { class: 'span12' }%>
    </div>
    <div class='span2'>
      <%= account_kinds_select_for_bank(b) %>
    </div>
    <div class='span1'>
      <%= currency_money_select_for_bank(b) %>
    </div>
    <div class='span1'>
      <%= b.input :amount, label: false, input_html: { class: 'span12' }%>
    </div>
    <div class='span1'>
      <%= b.link_to_remove '&#x2718;'.html_safe, 
        class: 'iconic', title: t('label.delete') %>
    </div>
  </div>
</div>
