<div class="readonly-data">
  <h2><%= @bank.name %></h2>

  <p>
    <strong><%= Bank.human_attribute_name 'website' %></strong>:
    <%= link_to_website @bank.website %>
  </p>
  <p>
    <strong><%= Bank.human_attribute_name 'phone' %></strong>:
    <%= @bank.phone %>
  </p>
  <p>
    <strong><%= Bank.human_attribute_name 'address' %></strong>:
    <%= @bank.address %>
  </p>
  <p>
    <strong><%= Bank.human_attribute_name 'contact_name' %></strong>:
    <%= @bank.contact_name %>
  </p>

  <%= render partial: 'show_bank_account' %>

</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_bank_path(@bank) if can? :update, @bank %> |
  <%= link_to t('label.list'), banks_path %>
</div>
