<div class="readonly-data">
  <h2><%= @bank.name %></h2>

  <p>
    <strong><%= Bank.human_attribute_name 'website' %></strong>:
    <%= link_to_website @bank.website %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_bank_path(@bank) if can? :update, @bank %> |
  <%= link_to t('label.list'), banks_path %>
</div>
