<div class="readonly-data">
  <h2><%= @advance %></h2>

  <p>
    <strong><%= Advance.human_attribute_name 'charged_at' %></strong>:
    <%= l @advance.charged_at, format: :long %>
  </p>
  <p>
    <strong><%= Advance.human_attribute_name 'detail' %></strong>:
    <%= simple_format @advance.detail %>
  </p>
  <p>
    <strong><%= Advance.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @advance.amount %>
  </p>
  <p>
    <strong><%= Advance.human_attribute_name 'state' %></strong>:
    <%= @advance.state ? 'Salida' : 'Entrada' %>
  </p>

</div>
<div class="form-actions f-actions-bottom">
  <%= link_to t('label.edit'), edit_advance_path(@advance) if can? :update, @advance %> |
  <%= link_to t('label.list'), advances_path %>
</div>
