<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t('menu.administration') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">

    <%= show_menu_link(
      name: 'banks', controllers: 'banks', path: banks_path
    ) if can?(:read, Bank) %>

    <%= show_menu_link(
      name: 'places', controllers: 'places',
      path: places_path
    ) if can?(:read, Place) %>

    <%= show_menu_link(
      name: 'users', controllers: 'users', path: users_path
    ) if can?(:read, User) %>
  
    <%= show_menu_link(
      name: 'workplaces', controllers: 'workplaces',
      path: workplaces_path
    ) if can?(:read, Workplace) %>
  
    <%= show_menu_link(
      name: 'cards', controllers: 'cards', path: cards_path
    ) if can?(:read, Card) %>
  
    <%= show_menu_link(
      name: 'codes', controllers: 'codes', path: codes_path
    ) if can?(:read, Code) %>
  
    <%= show_menu_link(
      name: 'clients', controllers: 'clients', path: clients_path
    ) if can?(:read, Client) %>

  </ul>
</li>
