<%= simple_form_for @petty_cash, defaults: { input_html: { class: 'span6' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :charged_at, as: :date_picker %>
    <%= f.input :detail, input_html: { rows: 5 } %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
