<div class="readonly-data">
  <h2><%= @code.to_s %></h2>

  <p>
    <strong><%= Code.human_attribute_name 'number' %></strong>:
    <%= @code.number %>
  </p>
  <p>
    <strong><%= Code.human_attribute_name 'detail' %></strong>:
    <%= @code.detail %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_code_path(@code) if can? :update, @code %> |
  <%= link_to t('label.list'), codes_path %>
</div>
