<%= simple_form_for @workplace, defaults: { input_html: { class: 'span6' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country, group_method: :countries,
      priority: ['Argentina', 'Brasil', 'Chile'] %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
