<% if @transactions.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row-fluid">
    <div class="table-container">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Transaction.human_attribute_name 'charged_at' %></th>
            <th><%= Transaction.human_attribute_name 'amount' %></th>
            <th><%= Transaction.human_attribute_name 'batch' %></th>
            <th><%= Transaction.human_attribute_name 'expiration' %></th>
            <th><%= Transaction.human_attribute_name 'place_id' %></th>
            <th><%= Transaction.human_attribute_name 'card_id' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= l transaction.charged_at, format: :long %></td>
              <td><%= number_to_currency transaction.amount %></td>
              <td><%= transaction.batch %></td>
              <td><%= l transaction.expiration, format: :long %></td>
              <td><%= link_to transaction.place, transaction.place %></td>
              <td><%= link_to transaction.card, transaction.card %></td>
              <td><%= link_to_show transaction %></td>
              <td>
                <%= link_to_edit(
                edit_transaction_path(transaction)
              ) if can? :update, transaction %>
              </td>
              <td><%= link_to_destroy transaction if can? :destroy, transaction %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@transactions) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.transactions.new', default: :'label.new'),
    new_transaction_path, class: 'btn btn-primary'
  ) if can? :create, Transaction %>
</div>
