<div class="readonly-data">
  <h2><%= @transaction %></h2>

  <p>
    <strong><%= Transaction.human_attribute_name 'charged_at' %></strong>:
    <%= l @transaction.charged_at, format: :long %>
  </p>
  <p>
    <strong><%= Transaction.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @transaction.amount %>
  </p>
  <p>
    <strong><%= Transaction.human_attribute_name 'batch' %></strong>:
    <%= @transaction.batch %>
  </p>
  <p>
    <strong><%= Transaction.human_attribute_name 'expiration' %></strong>:
    <%= l @transaction.expiration, format: :long %>
  </p>
  <p>
    <strong><%= Transaction.human_attribute_name 'place_id' %></strong>:
    <%= link_to @transaction.place, @transaction.place %>
  </p>
  <p>
    <strong><%= Transaction.human_attribute_name 'card_id' %></strong>:
    <%= link_to @transaction.card, @transaction.card %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_transaction_path(@transaction) if can? :update, @transaction %> |
  <%= link_to t('label.list'), transactions_path %>
</div>
